@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.eot');
    src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff'),
         url('../fonts/poppins-regular-webfont.ttf') format('truetype'),
         url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@keyframes bounceLogo {
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-10px); }
  50%  { transform: translateY(0); }
  70%  { transform: translateY(10px); }
  100% { transform: translateY(0); }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 

  .container_header {
    background-color: #181818;
    max-width: 1440px;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

   .main_logo {
    margin-left: 80px; 

    &:hover {
       animation: bounceLogo 1s ease;
       animation-iteration-count: infinite;
    }
   }

    .list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      list-style: none;
      margin-right: 50px;
      
      li {
        .words {
          display: inline-block;
          font-family: 'poppinsregular';
          font-weight: 400;
          font-size: 15px;
          line-height: 133%;
          color: #fff;
          text-decoration: none;
          padding: 9px 20px;
          border-radius: 14px;
          white-space: nowrap;
          transition: 0.5s;

          &:hover {
            font-weight: 700;
            background: #fff;
            color: #000;
            transform: scale(1.07);
          }
        }
      }
    }
  }
}


.banner {
  
  .main_container{
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 98px;
    position: relative;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .banner-text {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    .subtitle {
      font-family: 'poppinsregular';
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      color: #c0c0c0;
    }

    .title {
      font-family: 'poppinsregular';
      font-weight: 400;
      font-size: 54px;
      line-height: 110%;
      color: #fff;
      margin-bottom: 13px;
    }

    .description {
      font-family: 'poppinsregular';
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: #c0c0c0;
    }
  }

  .info-container {
    position: absolute;
    display: flex;
    gap: 15px;
    bottom: 29px;
    right: 40px;
    
    .info-row {
      display: flex;
      align-items: center;
      gap: 6px;

      p {
        font-family: 'poppinsregular';
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        color: #fff;
      }
    }
  }
}






.content_grid {
  background: #000;
  max-width: 1440px;
  margin: auto;

  h4 {
    font-family: 'poppinsregular';
    font-weight: 400;
    font-size: 40px;
    line-height: 105%;
    text-align: center;
    color: #fff;
    margin-bottom: 13px;
    padding-top: 110px;
  }

  p {
    font-family: 'poppinsregular';
    font-weight: 400;
    font-size: 23px;
    line-height: 130%;
    text-align: center;
    color: #c0c0c0;
    margin-bottom: 42px;
  }

  .content_images {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    padding-bottom: 100px;

    .blog_card {
      position: relative;

      img {
        width: 576px;
        display: block;
      }

      .overlay_text {
        position: absolute;
        bottom: 30px;
        left: 30px;

        h5 {
          font-family: 'poppinsregular';
          font-weight: 400;
          font-size: 14px;
          line-height: 143%;
          letter-spacing: 0.14em;
          text-transform: uppercase;
          color: #fff;
          margin-bottom: 8px;
        }

        p {
          font-family: 'poppinsregular';
          font-weight: 400;
          font-size: 14px;
          line-height: 143%;
          color: #c0c0c0;
          text-align: start;
          margin-bottom: 17px;
        }

        .read_more {
          width: 143px;
          background: #fff;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          gap: 6px;
          padding: 5px;
          padding-right: 13px;
          text-decoration: none;
          border: none;
          border-radius: 14px;
          font-weight: 400;
          font-size: 15px;
          line-height: 133%;
          letter-spacing: 0.03em;
          color: #000;
          font-family: 'poppinsregular';
          transition: 0.5s;

          &:hover {
            transform: scale(1.10);
            font-weight: 700;
          }
        }
      }
    }
  }
}

.banner_second {
  
  .image_container{
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .banner_second-text {
    position: absolute;
    bottom: 230px;
    right: 62px;
    text-align: center;

    .title_second{
     font-family: 'poppinsregular';
     font-weight: 400;
     font-size: 14px;
     line-height: 143%;
     letter-spacing: 0.14em;
     text-transform: uppercase;
     color: #fff;
     text-align: start;
     margin-bottom: 3px;
    }

    .description_Sunset{
      font-family: 'poppinsregular';
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: #c0c0c0;
      text-align: start;
    }
  }

  .info-container_second {
    position: absolute;
    display: flex;
    gap: 15px;
    bottom: 40px;
    right: 40px;
    
    .info-row_second {
      display: flex;
      align-items: center;
      gap: 5px;

      p {
        font-family: 'poppinsregular';
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        color: #fff;
      }
    }
  }
}