@font-face {
  font-family: "poppinsregular";
  src: url("../fonts/poppins-regular-webfont.eot");
  src: url("../fonts/poppins-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-regular-webfont.woff2") format("woff2"), url("../fonts/poppins-regular-webfont.woff") format("woff"), url("../fonts/poppins-regular-webfont.ttf") format("truetype"), url("../fonts/poppins-regular-webfont.svg#poppinsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@keyframes bounceLogo {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #181818;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
}
header .container_header {
  max-width: 1200px;
  margin: auto;
  padding: 30px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container_header a img:hover {
  animation: bounceLogo 1s ease;
  animation-iteration-count: infinite;
}
header .container_header .list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  list-style: none;
}
header .container_header .list li .words {
  display: inline-block;
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  color: #fff;
  text-decoration: none;
  padding: 9px 13px;
  border-radius: 14px;
  white-space: nowrap;
  transition: 0.5s;
}
header .container_header .list li .words:hover {
  font-weight: 700;
  background: #fff;
  color: #000;
  transform: scale(1.07);
}

.banner {
  background-image: url("../images/IMAGE-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 716px;
  position: relative;
}
.banner .main_container {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;
}
.banner .banner-text {
  text-align: center;
  padding-bottom: 65px;
}
.banner .banner-text .subtitle {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #c0c0c0;
}
.banner .banner-text .title {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 54px;
  line-height: 110%;
  color: #fff;
  margin-bottom: 13px;
}
.banner .banner-text .description {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #c0c0c0;
}
.banner .info-container {
  position: absolute;
  display: flex;
  gap: 17px;
  bottom: 35px;
  right: -25px;
  list-style: none;
}
.banner .info-container .info-row {
  display: flex;
  align-items: center;
  gap: 6px;
}
.banner .info-container .info-row p {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #fff;
}

.content_page {
  background: #000;
}
.content_page .content_grid {
  max-width: 1200px;
  margin: auto;
}
.content_page .content_grid h4 {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 40px;
  line-height: 105%;
  text-align: center;
  color: #fff;
  margin-bottom: 13px;
  padding-top: 110px;
}
.content_page .content_grid p {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 23px;
  line-height: 130%;
  text-align: center;
  color: #c0c0c0;
  margin-bottom: 42px;
}
.content_page .content_grid .content_images {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.content_page .content_grid .content_images .blog_card {
  position: relative;
}
.content_page .content_grid .content_images .blog_card img {
  width: 100%;
  display: block;
}
.content_page .content_grid .content_images .blog_card .overlay_text {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.content_page .content_grid .content_images .blog_card .overlay_text h5 {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 8px;
}
.content_page .content_grid .content_images .blog_card .overlay_text p {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #c0c0c0;
  text-align: start;
  margin-bottom: 17px;
}
.content_page .content_grid .content_images .blog_card .overlay_text .read_more {
  width: 143px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 5px;
  padding-right: 13px;
  text-decoration: none;
  border: none;
  border-radius: 14px;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: 0.03em;
  color: #000;
  font-family: "poppinsregular";
  transition: 0.5s;
}
.content_page .content_grid .content_images .blog_card .overlay_text .read_more:hover {
  transform: scale(1.05);
  font-weight: 700;
}
.content_page .content_grid .content_images .blog_card .overlay_text .read_more::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #000;
  border-radius: 37%;
}

.banner_second {
  background-image: url("../images/IMAGE (10).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
}
.banner_second .image_container {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  position: relative;
  justify-content: end;
  align-items: center;
}
.banner_second .banner_second-text {
  text-align: left;
}
.banner_second .banner_second-text .title_second {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 3px;
}
.banner_second .banner_second-text .description_sunset {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #c0c0c0;
}
.banner_second .info-container_second {
  position: absolute;
  display: flex;
  gap: 15px;
  bottom: 35px;
  right: -25px;
  list-style: none;
}
.banner_second .info-container_second .info-row_second {
  display: flex;
  align-items: center;
  gap: 5px;
}
.banner_second .info-container_second .info-row_second p {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #fff;
}

.gear_section {
  position: relative;
  background-color: #000;
  height: 540px;
  overflow: hidden;
}
.gear_section .gear_container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
}
.gear_section .gear_left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gear_section .gear_text {
  display: flex;
  flex-direction: column;
}
.gear_section .gear_text .gear_subtitle {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #c0c0c0;
  margin-bottom: 6px;
}
.gear_section .gear_text .gear_title {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 28px;
  line-height: 114%;
  color: #fff;
  margin-bottom: 14px;
}
.gear_section .gear_text .gear_description {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
  margin-bottom: 20px;
}
.gear_section .gear_text .gear_button {
  width: 152px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 5px;
  padding-right: 13px;
  border: none;
  border-radius: 14px;
  font-family: "poppinsregular";
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: #000;
  transition: 0.5s;
  text-decoration: none;
}
.gear_section .gear_text .gear_button:hover {
  transform: scale(1.05);
  font-weight: 700;
}
.gear_section .gear_text .gear_button::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #000;
  border-radius: 37%;
}
.gear_section .gear_image {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url("../images/IMAGE (11).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gear_section .gear_image .info-container_first {
  position: absolute;
  display: flex;
  gap: 15px;
  bottom: 35px;
  right: 35px;
  list-style: none;
}
.gear_section .gear_image .info-container_first .info-row_first {
  display: flex;
  align-items: center;
  gap: 5px;
}
.gear_section .gear_image .info-container_first .info-row_first p {
  font-family: "poppinsregular";
  font-size: 12px;
  color: #fff;
}

.banner_third {
  background-image: url("../images/IMAGE (12).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
}
.banner_third .image_container {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  position: relative;
  justify-content: end;
  align-items: center;
}
.banner_third .banner_third-text {
  text-align: left;
}
.banner_third .banner_third-text .title_third {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 3px;
}
.banner_third .banner_third-text .description_monstera {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #c0c0c0;
}
.banner_third .info-container_third {
  position: absolute;
  display: flex;
  gap: 15px;
  bottom: 35px;
  right: -25px;
  list-style: none;
}
.banner_third .info-container_third .info-row_third {
  display: flex;
  align-items: center;
  gap: 5px;
}
.banner_third .info-container_third .info-row_third p {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #fff;
}

.clients_section {
  background-color: #000;
}
.clients_section .clients_container {
  max-width: 1200px;
  margin: auto;
}
.clients_section .clients_title {
  text-align: center;
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 40px;
  line-height: 105%;
  color: #fff;
  margin-bottom: 15px;
  padding-top: 113px;
}
.clients_section .clients_subtitle {
  text-align: center;
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  color: #c0c0c0;
  margin-bottom: 80px;
}
.clients_section .clients_logos {
  padding-bottom: 140px;
}
.clients_section .clients_logos .carousel_logo {
  max-height: 80px;
  width: auto;
  max-width: 130px;
  object-fit: contain;
  display: block;
  margin: auto;
}
.clients_section .clients_logos .owl-stage {
  display: flex;
  align-items: center;
}
.clients_section .clients_logos .owl-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_himalayas {
  background-image: url("../images/IMAGE (18).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
}
.banner_himalayas .image_container {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  position: relative;
  justify-content: end;
  align-items: center;
}
.banner_himalayas .banner_himalayas-text {
  text-align: left;
}
.banner_himalayas .banner_himalayas-text .title_himalayas {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 3px;
}
.banner_himalayas .banner_himalayas-text .description_himalayas {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #c0c0c0;
}
.banner_himalayas .info-container_himalayas {
  position: absolute;
  display: flex;
  gap: 15px;
  bottom: 35px;
  right: -25px;
  list-style: none;
}
.banner_himalayas .info-container_himalayas .info-row_himalayas {
  display: flex;
  align-items: center;
  gap: 5px;
}
.banner_himalayas .info-container_himalayas .info-row_himalayas p {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #fff;
}

.help_section {
  background-color: #000;
}
.help_section .help_container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding-bottom: 100px;
}
.help_section .help_title {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 40px;
  line-height: 105%;
  color: #fff;
  margin-bottom: 15px;
  text-align: center;
  padding-top: 113px;
}
.help_section .help_subtitle {
  font-family: "poppinsregular";
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  color: #c0c0c0;
  margin-bottom: 12px;
}
.help_section .help_button {
  width: 152px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 5px;
  border: none;
  padding-right: 10px;
  border-radius: 14px;
  font-family: "poppinsregular";
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: #000;
  transition: 0.5s;
  text-decoration: none;
}
.help_section .help_button:hover {
  transform: scale(1.05);
  font-weight: 700;
}
.help_section .help_button::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #000;
  border-radius: 37%;
}

footer {
  background-color: #000;
}
footer .footer_container {
  max-width: 1200px;
  margin: auto;
  padding-top: 100px;
}
footer .up_background {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .up_background .footer_about img {
  display: block;
  margin-bottom: 20px;
}
footer .up_background .footer_about .footer_description {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 13px;
  line-height: 154%;
  color: #c0c0c0;
}
footer .up_background .footer-links {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
footer .up_background .footer-links .column {
  display: flex;
  flex-direction: column;
}
footer .up_background .footer-links .column h4 {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #c0c0c0;
  margin-bottom: 10px;
}
footer .up_background .footer-links .column ul {
  list-style: none;
  margin-bottom: 70px;
  padding-right: 72px;
}
footer .up_background .footer-links .column ul li {
  margin-bottom: 10px;
}
footer .up_background .footer-links .column ul li a {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
  text-decoration: none;
  transition: 0.4s;
}
footer .up_background .footer-links .column ul li a:hover {
  font-weight: 700;
}
footer .footer_newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
footer .footer_newsletter::before, footer .footer_newsletter::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: white;
}
footer .footer_newsletter::before {
  top: -40px;
}
footer .footer_newsletter::after {
  bottom: 40px;
}
footer .footer_newsletter .newsletter_text h4 {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
footer .footer_newsletter .newsletter_text p {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 13px;
  line-height: 154%;
  color: #c0c0c0;
}
footer .footer_newsletter .newsletter_button {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  width: 458px;
  height: 48px;
  background: #fff;
  margin-bottom: 98px;
}
footer .footer_newsletter .newsletter_button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  width: 63px;
  height: 30px;
  background: #000;
  border-radius: 11px;
}
footer .footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
footer .footer_bottom .copyright {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #c0c0c0;
}
footer .footer_bottom .social_links {
  display: flex;
  gap: 20px;
}
footer .footer_bottom .social_links a {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
footer .footer_bottom .social_links a:hover {
  opacity: 0.7;
}/*# sourceMappingURL=preproces-style.css.map */