@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.eot');
    src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff'),
         url('../fonts/poppins-regular-webfont.ttf') format('truetype'),
         url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@keyframes bounceLogo {
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-10px); }
  50%  { transform: translateY(0); }
  70%  { transform: translateY(10px); }
  100% { transform: translateY(0); }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #181818;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;

  .container_header {
    max-width: 1200px;
    margin: auto;
    padding: 30px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    a img{ 
    &:hover {
       animation: bounceLogo 1s ease;
       animation-iteration-count: infinite;
    }
  }

    nav {
      .list {
        display: flex;
        gap: 32px;
        list-style: none;

        li .words {
          display: inline-block;
          font-family: 'poppinsregular';
          font-weight: 400;
          font-size: 15px;
          line-height: 133%;
          color: #fff;
          text-decoration: none;
          padding: 9px 13px;
          border-radius: 14px;
          white-space: nowrap;
          transition: 0.5s;

          &:hover {
            font-weight: 700;
            background: #fff;
            color: #000;
            transform: scale(1.07);
          }
        }
      }
    }

    // Бургер чекбокс прихований
    .menu-toggle {
      display: none;
    }

    .burger {
      display: none;
      flex-direction: column;
      gap: 5px;
      cursor: pointer;

      span {
        height: 2px;
        width: 25px;
        background: white;
        display: block;
        transition: 0.3s;
      }
    }
  }

  @media (max-width: 1276px) {
  .container_header {
    nav .list {
      padding-right: 32px;
    }
  }
}

   // Планшети і менше (≤ 992px)
  @media (max-width: 992px) {
    position: relative;

    .container_header {
      flex-wrap: wrap;
      
      .burger {
        display: flex;
        margin-right: 20px;
      }

      nav {
        width: 100%;
        order: 3;
    
        .list {
          display: none;
          flex-direction: column;
          gap: 16px;
          margin-top: 10px;
        }
      }

      // Активне меню при :checked
      .menu-toggle:checked + .burger + nav .list {
        display: flex;
        
      }
    }
  }

  // Середні мобільні (≤ 768px)
  @media (max-width: 768px) {
    .container_header {
      padding: 24px 20px;

      nav .list li .words {
        font-size: 16px;
        padding: 8px 0;
      }
    }
  }

  // Малі мобільні (≤ 576px)
  @media (max-width: 576px) {
    .container_header {
      padding: 20px 16px;

      .main_logo {
        max-height: 32px;
      }

      nav .list {
        gap: 12px;
      }

      nav .list li .words {
        font-size: 15px;
      }
    }
  }
}



.banner {
  background-image: url('../images/IMAGE-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 716px;
  position: relative;

  .main_container {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .banner-text {
    text-align: center;
    padding-bottom: 65px;

    .subtitle {
      font-family: 'poppinsregular';
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      color: #c0c0c0;
    }

    .title {
      font-family: 'poppinsregular';
      font-weight: 400;
      font-size: 54px;
      line-height: 110%;
      color: #fff;
      margin-bottom: 13px;
    }

    .description {
      font-family: 'poppinsregular';
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: #c0c0c0;
    }
  }

  .info-container {
    position: absolute;
    display: flex;
    gap: 17px;
    bottom: 35px;
    right: 0px;
    list-style: none;

    .info-row {
      display: flex;
      align-items: center;
      gap: 6px;

      p {
        font-family: 'poppinsregular';
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        color: #fff;
      }
    }
  }

  @media (max-width: 1440px) {
    .info-container{
      padding-right: 60px;
    }
  }

    @media (max-width: 1320px) {
    .info-container{
      padding-right: 80px;
    }
  }

  @media (max-width: 1200px) {
    .main_container {
      padding: 0 40px;
    }

    .banner-text {
      .title {
        font-size: 46px;
      }
    }

      .info-container{
      padding-left: 35px;
    }
  }

  @media (max-width: 992px) {
    padding-bottom: 100px;

    .banner-text {

      .title {
        font-size: 40px;
      }

      .description {
        font-size: 13px;
      }
    }

    .info-container {
      position: relative;
      justify-content: center;
      bottom: 0px;
    }
  }

  @media (max-width: 768px) {
    .banner-text {
      .title {
        font-size: 34px;
      }

      .subtitle {
        font-size: 12px;
      }

      .description {
        font-size: 12px;
      }
    }

    .info-container {
      gap: 12px;
    }
  }

  @media (max-width: 576px) {
    .banner-text {
      

      .title {
        font-size: 28px;
      }

      .description {
        font-size: 12px;
        line-height: 140%;
        br {
          display: none; // приховує <br> на мобільних
        }
      }
    }

    .info-container {
      text-align: center;
      gap: 8px;
      padding-left: 60px;
    }
  }
}



.content_page{
  background: #000;

  .content_grid {
  max-width: 1200px;
  margin: auto;

  h4 {
    font-family: 'poppinsregular';
    font-weight: 400;
    font-size: 40px;
    line-height: 105%;
    text-align: center;
    color: #fff;
    margin-bottom: 13px;
    padding-top: 110px;
  }

  p {
    font-family: 'poppinsregular';
    font-weight: 400;
    font-size: 23px;
    line-height: 130%;
    text-align: center;
    color: #c0c0c0;
    margin-bottom: 42px;
  }

  .content_images {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    padding-bottom: 100px;

    .blog_card {
      position: relative;

      img {
        width: 100%;
        display: block;
      }

      .overlay_text {
        position: absolute;
        bottom: 30px;
        left: 30px;

        h5 {
          font-family: 'poppinsregular';
          font-weight: 400;
          font-size: 14px;
          line-height: 143%;
          letter-spacing: 0.14em;
          text-transform: uppercase;
          color: #fff;
          margin-bottom: 8px;
        }

        p {
          font-family: 'poppinsregular';
          font-weight: 400;
          font-size: 14px;
          line-height: 143%;
          color: #c0c0c0;
          text-align: start;
          margin-bottom: 17px;
        }

        .read_more {
          width: 143px;
          background: #fff;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          gap: 6px;
          padding: 5px;
          padding-right: 13px;
          text-decoration: none;
          border: none;
          border-radius: 14px;
          font-weight: 400;
          font-size: 15px;
          line-height: 133%;
          letter-spacing: 0.03em;
          color: #000;
          font-family: 'poppinsregular';
          transition: 0.5s;

          &:hover {
            transform: scale(1.05);
            font-weight: 700;
          }

          &::before {
          content: '';
          display: inline-block;
          width: 32px;
          height: 32px;
          background: #000;
          border-radius: 37%;
          }
        }
      }
    }
  }
 }

 @media (max-width: 768px) {
  .content_grid{
  h4 {
    font-size: 28px; // було 40px
    padding-top: 60px; 
  }

  p {
    font-size: 16px; // було 23px
    margin-bottom: 30px;
  }
 }
 }
}



.banner_second {
  background-image: url('../images/IMAGE (10).png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;

  .image_container {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    position: relative;
    justify-content: end;
    align-items: center;
  }

  .banner_second-text {
    text-align: left;

    .title_second {
      font-family: 'poppinsregular';
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 3px;
    }

    .description_sunset {
      font-family: 'poppinsregular';
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: #c0c0c0;
    }
  }

  .info-container_second {
    position: absolute;
    display: flex;
    gap: 15px;
    bottom: 35px;
    right: 0px;
    list-style: none;

    .info-row_second {
      display: flex;
      align-items: center;
      gap: 5px;

      p {
        font-family: 'poppinsregular';
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        color: #fff;
      }
    }
  }
  @media (max-width: 1367px) {

  .info-container_second {
    padding-right: 40px;
  }
  .banner_second-text{
    padding-right: 40px;
  }

}

@media (max-width: 992px) {

  .info-container_second {
    right: 20px;
    bottom: 20px;
  }
 }

 @media (max-width: 360px) {

  .banner_second-text{
    padding-left: 30px;
    text-align: center;
  }
 }
}


.gear_section {
  position: relative;
  background-color: #000;
  height: 540px;
  overflow: hidden;

  .gear_container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
  }

  .gear_left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gear_text {
    display: flex;
    flex-direction: column;

    .gear_subtitle {
      font-family: 'poppinsregular';
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      color: #c0c0c0;
      margin-bottom: 6px
    }

    .gear_title {
      font-family: 'poppinsregular';
      font-weight: 400;
      font-size: 28px;
      line-height: 114%;
      color: #fff;
      margin-bottom: 14px
    }

    .gear_description {
      font-family: 'poppinsregular';
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: #fff;
      margin-bottom: 20px
    }

    .gear_button {
    width: 152px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 5px;
    padding-right: 13px; 
    border: none;
    border-radius: 14px;
    font-family: 'poppinsregular';
    font-size: 15px;
    line-height: 125%;
    letter-spacing: 0.03em;
    color: #000;
    transition: 0.5s;
    text-decoration: none;

   &:hover {
    transform: scale(1.05);
    font-weight: 700;
    }

   &::before {
    content: '';
     display: inline-block;
     width: 32px;
     height: 32px;
     background: #000;
     border-radius: 37%;
   }
  }
}

  .gear_image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url('../images/IMAGE (11).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .info-container_first {
      position: absolute;
      display: flex;
      gap: 15px;
      bottom: 35px;
      right: 35px;
      list-style: none;

      .info-row_first {
        display: flex;
        align-items: center;
        gap: 5px;

        p {
          font-family: 'poppinsregular';
          font-size: 12px;
          color: #fff;
        }
      }
    }
  }

  @media (max-width: 992px) {
  .gear_container {
    flex-direction: column;
  }

  .gear_left {
    width: 100%;
    padding: 20px;
  }

  .gear_image {
    position: relative; 
    width: 100%;
    

    .info-container_first {
      bottom: 15px;
      right: 25px;
      gap: 10px;
    }
  }
}

@media (max-width: 768px) {
  .gear_left {
    
    .gear_title {
      font-size: 24px;
    }

    .gear_description {
      font-size: 13px;
      line-height: 1.4;
    }

    .gear_button {
      font-size: 14px;

      &::before {
        width: 28px;
        height: 28px;
      }
    }
  }

  .gear_image {

    .info-container_first {
      flex-wrap: wrap;
      margin-right: 35px;
      gap: 17px;
      bottom: 10px;
      right: 0px; 

      .info-row_first {
        p {
          font-size: 11px;
        }
      }
    }
  }
 }

 @media (max-width: 520px) {

  .gear_text {
    text-align: center;
    align-items: center;
  }
 } 

}


.banner_third {
  background-image: url('../images/IMAGE (12).png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;

  .image_container {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    position: relative;
    justify-content: end;
    align-items: center;
  }

  .banner_third-text {
    text-align: left;

    .title_third {
      font-family: 'poppinsregular';
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 3px;
    }

    .description_monstera {
      font-family: 'poppinsregular';
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: #c0c0c0;
    }
  }

  .info-container_third {
    position: absolute;
    display: flex;
    gap: 15px;
    bottom: 35px;
    right: -25px;
    list-style: none;

    .info-row_third {
      display: flex;
      align-items: center;
      gap: 5px;

      p {
        font-family: 'poppinsregular';
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        color: #fff;
      }
    }
  }

  @media (max-width: 1367px) {

  .info-container_third {
    padding-right: 40px;
  }
  .banner_third-text{
    padding-right: 40px;
  }

}

@media (max-width: 992px) {

  .info-container_third {
    right: 10px;
    bottom: 20px;
  }
 }

 @media (max-width: 360px) {

  .banner_third-text{
    padding-left: 30px;
    text-align: center;
  }

  .info-container_third {
    padding-left: 25px;
  }
 }
}



.clients_section {
  background-color: #000;

  .clients_container {
    max-width: 1200px;
    margin: auto;
  }

  .clients_title {
    text-align: center;
    font-family: 'poppinsregular';
    font-weight: 400;
    font-size: 40px;
    line-height: 105%;
    color: #fff;
    margin-bottom: 15px;
    padding-top: 113px;
  }

  .clients_subtitle {
    text-align: center;
    font-family: 'poppinsregular';
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    color: #c0c0c0;
    margin-bottom: 80px;
  }

  .clients_logos {
    padding-bottom: 140px;

    .carousel_logo {
    max-height: 80px;
    width: auto;
    max-width: 130px;
    object-fit: contain;
    display: block;
    margin: auto;
    }

    .owl-stage {
      display: flex;
      align-items: center;
    }

    .owl-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media (max-width: 768px) {
  .clients_title {
    font-size: 28px; 
    padding-top: 60px; 
  }

  .clients_subtitle {
    font-size: 16px; 
    margin-bottom: 40px;
  }
 }
}




.banner_himalayas {
  background-image: url('../images/IMAGE (18).png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;

  .image_container {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    position: relative;
    justify-content: end;
    align-items: center;
  }

  .banner_himalayas-text {
    text-align: left;

    .title_himalayas {
      font-family: 'poppinsregular';
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 3px;
    }

    .description_himalayas{
      font-family: 'poppinsregular';
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: #c0c0c0;
    }
  }

  .info-container_himalayas {
    position: absolute;
    display: flex;
    gap: 15px;
    bottom: 35px;
    right: 0px;
    list-style: none;

    .info-row_himalayas {
      display: flex;
      align-items: center;
      gap: 5px;

      p {
        font-family: 'poppinsregular';
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        color: #fff;
      }
    }
  }

  @media (max-width: 1367px) {

  .info-container_himalayas  {
    padding-right: 40px;
  }
  .banner_himalayas-text{
    padding-right: 40px;
  }

}

@media (max-width: 992px) {

  .info-container_himalayas {
    right: 20px;
    bottom: 20px;
  }

  .banner_himalayas-text{
    padding-right: 70px;
  }
 }

 @media (max-width: 360px) {

  .banner_himalayas-text{
    padding-left: 30px;
    text-align: center;
  }

  .info-container_himalayas {
    padding-left: 25px;
  }
 }
}


.help_section {
  background-color: #000;

  .help_container {
    max-width: 1200px;
    margin: auto;
    text-align: center; 
    padding-bottom: 100px;
  }

  .help_title {
    font-family: 'poppinsregular';
    font-weight: 400;
    font-size: 40px;
    line-height: 105%;
    color: #fff; 
    margin-bottom: 15px;
    text-align: center;
    padding-top: 113px;
  }

  .help_subtitle {
    font-family: 'poppinsregular';
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    color: #c0c0c0;
    margin-bottom: 12px;
  }

  .help_button {
    width: 152px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 5px;
    border: none;
    padding-right: 10px;
    border-radius: 14px;
    font-family: 'poppinsregular';
    font-size: 15px;
    line-height: 125%;
    letter-spacing: 0.03em;
    color: #000;
    transition: 0.5s;
    text-decoration: none;
    

    &:hover {
      transform: scale(1.05);
      font-weight: 700;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 32px;
      height: 32px;
      background: #000;
      border-radius: 37%;
    }
  }

  @media (max-width: 768px) {
  .help_title {
    font-size: 28px; 
    padding-top: 60px; 
  }

  .help_subtitle {
    font-size: 16px; 
    margin-bottom: 20px;
  }
 }
}


footer {
  background-color: #000;

  .footer_container {
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
  }

  .up_background {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .footer_about {

      img {
        display: block;
        margin-bottom: 20px;
      }

      .footer_description {
        font-family: 'poppinsregular';
        font-weight: 400;
        font-size: 13px;
        line-height: 154%;
        color: #c0c0c0;
      }
    }

    .footer-links {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;

      .column {
        display: flex;
        flex-direction: column;

        h4 {
          font-family: 'poppinsregular';
          font-weight: 400;
          font-size: 14px;
          line-height: 143%;
          letter-spacing: 0.14em;
          text-transform: uppercase;
          color: #c0c0c0;
          margin-bottom: 10px;
        }

        ul {
          list-style: none;
          margin-bottom: 70px;
          padding-right: 72px;

          li {
            margin-bottom: 10px;

            a {
              font-family: 'poppinsregular';
              font-weight: 400;
              font-size: 14px;
              line-height: 143%;
              color: #fff;
              text-decoration: none;
              transition: 0.4s;

              &:hover {
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }

  .footer_newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
 
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: white
  }

  &::before {
    top: -40px;
  }

  &::after {
    bottom: 40px;
  }

  .newsletter_text {
    h4 {
      font-family: 'poppinsregular';
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 20px;
    }

    p {
      font-family: 'poppinsregular';
      font-weight: 400;
      font-size: 13px;
      line-height: 154%;
      color: #c0c0c0;
    }
  }

  .newsletter_button {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    width: 458px;
    height: 48px;
    background: #fff;
    margin-bottom: 98px;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 6px;
      transform: translateY(-50%);
      width: 63px;
      height: 30px;
      background: #000;
      border-radius: 11px;
    }
  }
 }

  .footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 100px;

    .copyright {
      font-family: 'poppinsregular';
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: #c0c0c0;
    }

    .social_links {
      display: flex;
      gap: 20px;

      a {
          width: 24px;
          height: 24px;
          transition: 0.3s;

          &:hover {
            opacity: 0.7;
          }
      }
    }
  }

  @media (max-width: 992px) {

    .up_background {
      flex-direction: column;
      align-items: center;

       img {
        margin-left: 120px;
      }
        
    .footer_description {
      margin-bottom: 15px;
      text-align: center;
   }
  }

   .footer_newsletter {
    flex-direction: column;
    align-items: center;

    .newsletter_button {
        max-width: 100%;
        width: 100%;
        height: 44px;
      }


   .newsletter_text{
    justify-content: center;
    align-items: center;

    p{
      margin-bottom: 15px;
      text-align: center;
    }
   }
  }

   .footer_bottom{
    flex-direction: column;
    align-items: center;

    .copyright{
      margin-bottom: 15px;
    }
   }
 }
}